@import "../../styles/vars"

.Layout
    display: flex

.Content
    min-width: calc(100% - 70px)
    height: 100%
    margin-left: 70px

.LayoutCenterInner
    width: 350px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: $padding-primary

    & *
        font-family: $font

@media (max-width: 400px)
    .LayoutCenterInner
        width: 100%